body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  padding: 20px 50px;
  background-color: #bfbfbf;
  font: bold 20px/30px Georgia, serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid rgb(202, 202, 202);
  border-top-color: black;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.error-display {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countries {
  padding: 20px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.country {
  display: grid;
  grid-template-rows: 50% 50%;
  cursor: pointer;
}

.country .country-flag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.country .country-details {
  background-color: white;
  padding: 30px;
}

.country .country-details .country-name {
  font-weight: bold;
  font-size: large;
}

.country .country-details div {
  padding: 5px 0px;
}

.hide {
  display: none;
}

.search-bar {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-country span {
  position: absolute;
  padding: 20px;
  color: rgba(133, 133, 133);
}

input {
  padding: 20px 20px 20px 60px;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 450px;
}

.filter-country {
  width: 200px;
  position: relative;
  background-color: white;
}

.filter-country button {
  padding: 20px;
  outline: none;
  border: none;
}

.expand-icon {
  float: right;
}

.click-filter {
  background-color: white;
  font-size: 15px;
}

.click-filter:hover {
  background-color: #bfbfbf;
}

.click-filter,
.region {
  border: none;
  outline: none;
  width: 200px;
  transition: 0.3s;
  background-color: white;
  padding: 20px;
  text-align: left;
}

.region-list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  /* transform: scaleY(0); */
}

.region-list button {
  padding: 10px 20px;
}

.region:hover {
  background-color: #bfbfbf;
  transform: scale(1.1);
}

.heading {
  font-weight: bold;
}

:root {
  --modal-duration: 1s;
  --modal-color: #f6f6f6;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  padding: 50px;
  display: grid;
  grid-template-columns: 45% 45% 5%;
  gap: 70px;
  background-color: #fff;
  color: #000;
}

.modal-flag,
.modal-details {
  margin: 0;
}

.modal-flag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-details {
  background: #fff;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 20% 50% 15%;
  column-gap: 50px;
  row-gap: 20px;
}

.modal-header {
  grid-area: 1/1/2/3;
  font: normal normal bold 30px/34px Helvetica;
}

.modal-details-1 div,
.modal-details-2 div {
  font: normal normal 500 14px/18px Helvetica;
  padding: 4px;
}

.modal-details-1 {
  grid-area: 2/1/3/2;
}

.modal-details-2 {
  grid-area: 2/2/3/3;
}

.modal-border {
  grid-area: 3/1/4/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-border-countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.modal-border-countries div {
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  border: 2px solid #f4f4f4;
  margin-left: 5px;
}

.close {
  grid-area: 1/3/2/4;
  color: #bfbfbf;
  font-size: 30px;
  text-align: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}